<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.SEO.F_SeoTitle</title>
    @Html.Partial("~/Areas/en/Views/Shared/_Head.cshtml")
    <meta name="keyword" content="@ViewBag.SEO.F_SeoKeywords" />
    <meta name="Description" content="@ViewBag.SEO.F_SeoDescription" />

</head>
<body class="en">
    <div class="NavBox">
        @Html.Partial("~/Areas/en/Views/Shared/_Menu.cshtml")
    </div>
    <div class="swiper-container h100 contact" id="swiper-container1">
        <div class="swiper-wrapper">
            @{
                for (int i = 0; i < ViewBag.banner.Count; i++)
                {
                    <div class="swiper-slide">
                        <div class="pr winHeight bannerimg"
                             style="background: url(@ViewBag.banner[i].F_ImageUrl) no-repeat center; background-size:cover;">

                            <div class="w1200 m0aoto h100 flex alignitems_center">
                                <img width="60%" src="@ViewBag.banner[i].F_PicUrl" alt="">
                            </div>
                        </div>
                        <img class="nexicon pa" src="/img/nexicon.png" style="z-index: 3;" alt="">
                    </div>
                }
            }


            <div class="swiper-slide">


                @*@Html.Raw(ViewBag.Info.F_Content)*@
                <div class="winHeight" style="background: url(@ViewBag.backGroud.F_ImageUrl) no-repeat center top; background-size:cover;">
                    <div class="w1200 m0aoto">
                        <div class="h60"></div>
                        <div class="h60"></div>
                        <div class="animated pt-page-delay200 fadeInUp">
                            <div class="f24 fb">Contact Information</div>
                        </div>
                        <div class="h60"></div>
                        <div class="animated pt-page-delay200 fadeInUp">
                            @Html.Raw(ViewBag.Info)
                         

                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-slide">

                <div class="swiper-container h100" id="Ybox2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="w1200 m0aoto">
                                <div class="h60"></div>
                                <div class="h60"></div>
                                <div class="animated pt-page-delay200 fadeInUp">
                                    <div class="f24 fb">Leave a Message</div>
                                    <div class="h20"></div>
                                    <div class="f16 fw100">We sincerely invite you to leave your basic information, so that we can choose the most suitable team to serve you</div>
                                </div>
                                <div class="h60"></div>
                                <div id="app" class="f16" style="background: #F4F4F4; padding: 30px;">

                                    <div class="flex justify_between">
                                        <div class="" style="width: 48%;">
                                            <div class="backjb1 fb cfff" style="padding: 10px 15px;">
                                                *Name (Required)
                                            </div>
                                            <div>
                                                <el-input v-model="form.trueName" placeholder="Please enter your name"></el-input>
                                            </div>
                                        </div>
                                        <div class="" style="width: 48%;">
                                            <div class="backjb1 fb cfff" style="padding: 10px 15px;">
                                                *Phone Number (Required)
                                            </div>
                                            <div>
                                                <el-input :maxlength="11" v-model="form.phone" placeholder="Please enter your phone number"></el-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h30"></div>
                                    <div class="flex justify_between">
                                        <div class="" style="width: 48%;">
                                            <div class="backjb1 fb cfff" style="padding: 10px 15px;">
                                                *Company Name (Required)
                                            </div>
                                            <div>
                                                <el-input v-model="form.companyName" placeholder="Please enter your company name"></el-input>
                                            </div>
                                        </div>
                                        <div class="" style="width: 48%;">
                                            <div class="backjb1 fb cfff" style="padding: 10px 15px;">
                                                City
                                            </div>
                                            <div>
                                                <el-cascader :props="props"
                                                             v-model="form.city"
                                                             :options="city" style="width: 100%;" placeholder="Please select your city"></el-cascader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h30"></div>
                                    <div class="flex justify_between">
                                        <div class="" style="width: 48%;">
                                            <div class="backjb1 fb cfff" style="padding: 10px 15px;">
                                                Email
                                            </div>
                                            <div>
                                                <el-input v-model="form.email" placeholder="Please enter your email address"></el-input>
                                            </div>
                                        </div>
                                        <div class="" style="width: 48%;">
                                            <div class="backjb1 fb cfff" style="padding: 10px 15px;">
                                                Title
                                            </div>
                                            <div>
                                                <el-input v-model="form.job" placeholder="Please enter your Career name"></el-input>

                                            </div>
                                        </div>
                                    </div>


                                    <div class="h30"></div>
                                    <div>
                                        <div class="backjb1 fb cfff" style="padding: 10px 15px;">
                                            *Message (Required)
                                        </div>
                                        <div>
                                            <el-input rows="6" type="textarea" v-model="form.message"
                                                      placeholder="Please briefly describe your issue so that we can better assist you"></el-input>
                                        </div>
                                    </div>
                                    <div class="h30"></div>

                                    <div class="flex alignitems_center cursor f14" style="color: #979797;">
                                        <span class="flex alignitems_center" @@click="butagree">
                                            <div class="center b005059 bor4 cfff" style="width: 16px; height: 16px; margin-right: 5px; ">
                                                <i v-if="form.isagree" class="el-icon-check"></i>
                                            </div>
                                            I have read and agree to this website
                                        </span>
                                        <a href="/en/Newsdis/Index/99fdbd51-24e3-4c36-9014-e65e23840b5c" class="c005059" style="border-bottom: #005059 solid 1px;">《Privacy Policy》</a>
                                        term
                                    </div>

                                    <div class="h60"></div>
                                    <div class="center">
                                        <div class="center cfff f16 fb cursor" @@click="submit"
                                             style="background: #005059; width: 150px; height: 50px;">Submit</div>
                                    </div>
                                    <div class="h30"></div>
                                </div>

                                <div class="h60"></div>
                            </div>
                            <div class="footerBox">
                                @Html.Partial("~/Areas/en/Views/Shared/_Bottom.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>


            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/city.js"></script>
    <script type="text/javascript">

        function screenFuc() {
            var winWidth = $(window).innerWidth();
            var winHeight = $(window).innerHeight()
            //var winHeight = 500
            $(".winHeight").css({
                "height": winHeight + "px"
            })

            if (winWidth <= 750) {
                $(".bannerimg").css({ "background-position":"-170px 0px"})
            }
          


        }

        (window.onresize = function () {
            screenFuc();
        })();

        new Vue({
				el: '#app',
				data() {
					return {
						props:{value:"label"},
						city:city,
						form:{
                            isagree: false,
                            job: "",
                            questionType: "",
                            message: "",
                            trueName: "",
                            city: "",
                            companyName: "",
                            phone: "",
                            email: ""
						}
					};
				},
                methods: {
                butagree() {
                    this.form.isagree = this.form.isagree ? false : true
                },
					isPoneAvailable(poneInput) {
						var myreg = /^[1][2,3,4,5,6,7,8,9][0-9]{9}$/;
						if (!myreg.test(poneInput)) {
							return false;
						} else {
							return true;
						}
					},
					isEmailAvailable(emailInput) {
						var reg = /^[a-zA-Z0-9]+([-_.][A-Za-zd]+)*@@([a-zA-Z0-9]+[-.])+[A-Za-zd]{2,5}$/
						return reg.test(emailInput);
                    },
                    isNumber(val) {
                        const result = /^\d+$/.test(val)
                        return result
                    },
					submit(){
                        if (this.form.trueName == "") {
                            this.$message.error('Please Enter Name！');
                            return
                        }
                        if (this.isNumber(this.form.trueName)) {
                            this.$message.error('Please enter the correct name！');
                            return
                        }
                        if (this.form.phone == "") {
                            this.$message.error('Please enter the contact phone number！');
                            return
                        }
                        if (!this.isPoneAvailable(this.form.phone)) {
                            this.$message.error('Incorrect format of contact phone number！');
                            return
                        }
                        if (this.form.companyName == "") {
                            this.$message.error('Please enter the company name！');
                            return
                        }
                        if (this.isNumber(this.form.companyName)) {
                            this.$message.error('Please enter the correct unit name！');
                            return
                        }
                        if (this.form.email) {
                            if (!this.isEmailAvailable(this.form.email)) {
                                this.$message.error('Incorrect email format！');
                                return
                            }
                        }

                        if (this.form.job != "") {
                            if (this.isNumber(this.form.job)) {
                                this.$message.error('Please enter the correct career name！');
                                return
                            }
                        }
                        // if(this.form.job==""){
                        // 	this.$message.error('请选择您的职业！');
                        // 	return
                        // }
                        // if(this.form.questionType==""){
                        // 	this.$message.error('请选择问题类型！');
                        // 	return
                        // }
                        if (this.form.message == "") {
                            this.$message.error('Please enter content on the message board！');
                            return
                        }

                        // if(this.form.surname==""){
                        // 	this.$message.error('请选择所在城市！');
                        // 	return
                        // }



                        if (!this.form.isagree) {
                            this.$message.error("Please read and agree to the terms of this website's Privacy Statement！");
                            return
                        }
						const loading = this.$loading({
							lock: true,
							text: 'Loading',
							spinner: 'el-icon-loading',
							background: 'rgba(0, 0, 0, 0.7)'
                        });

                        this.form.city = this.form.city[0] + "," + this.form.city[1] + "," + this.form.city[2];
                        var that = this;
                        $.ajax({
                            type: "POST",
                            url: '/en/contact_us/AddInfo',
                            async: false,
                            contentType:"application/json",
                            data: JSON.stringify(this.form),
                            beforeSend: function (xmlHttpRequest) {
                            },
                            success: function (data, textStatus) {
                                if (data == "1") {
                                    that.$message({
                                        message: 'Submitted successfully',
                                        type: 'success'
                                    });
                                    loading.close();
                                    that.form = {
                                        isagree: false,
                                        job: "",
                                        questionType: "",
                                        message: "",
                                        trueName: "",
                                        city: "",
                                        companyName: "",
                                        phone: "",
                                        email: ""
                                    }
                                }
                            },
                            complete: function (xmlHttpRequest, textStatus) {
                            },
                            error: function () {
                            }
                        });

                        console.log(JSON.stringify(this.form))
					}
				}
		})



        $(function () {

            var mySwiper1 = new Swiper('#swiper-container1', {
                direction: 'vertical',
               // swipeHandler: '.swipe-handler',
                speed: 700,
                on: {
                    transitionStart: function () {
                        if (mySwiper1.activeIndex == 0) {
                            $(".Navigation").removeClass("on")
                        } else {
                            $(".Navigation").addClass("on")
                        }
                    },
                },
            });

            var Ybox2 = new Swiper('#Ybox2', { //子swiper
                direction: 'vertical',
                nested: true,
                //resistanceRatio: 0,
                slidesPerView: 'auto',
                freeMode: true,
                mousewheel: {
                    sensitivity: 0.3,
                },
                scrollbar: {
                    el: '.swiper-scrollbar',
                    draggable: true,
                    snapOnRelease: false,
                },
            })

            var flag = true;
            var height = $(window).innerHeight();
            var tem = 0;
            var isFirefox = (/Firefox/i.test(navigator.userAgent)); //判断是不是火狐浏览器
            var agent = navigator.userAgent.toLowerCase();
            var isMac = /macintosh|mac os x/i.test(navigator.userAgent);
            $(window).on(isFirefox ? 'DOMMouseScroll' : 'mousewheel', function (e) {
                var delta = isFirefox ? e.detail * -1 : e.originalEvent.wheelDelta;

                if (!flag) {
                    return
                }
                flag = false;
                var flagTimg = 1000
                var Ybox = $("#swiper-container1>.swiper-wrapper>.swiper-slide-active>div").attr("id")

                if (delta < 0) {
                    if (Ybox) {
                        if (Ybox.indexOf("Ybox") >= 0) {
                            if (Ybox2.isEnd) {
                                mySwiper1.slideNext();
                            }
                        }
                        flagTimg = 200
                    } else {
                        mySwiper1.slideNext();
                    }
                } else {
                    if (Ybox) {
                        if (Ybox.indexOf("Ybox") >= 0) {
                            if (Ybox2.isBeginning) {
                                mySwiper1.slidePrev();
                            }
                        }
                        flagTimg = 200
                    } else {
                        mySwiper1.slidePrev();
                    }
                }
                setTimeout(() => {
                    flag = true
                }, isMac ? 1500 : 500)
            })
        })
    </script>
</body>
</html>