<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Info.F_SeoTitle</title>
    @Html.Partial("~/Views/Shared/_Head.cshtml")
    <meta name="keyword" content="@ViewBag.Info.F_SeoKeywords" />
    <meta name="Description" content="@ViewBag.Info.F_SeoDescription" />

</head>
<body>
    <div class="NavBox">
        @Html.Partial("~/Views/Shared/_Menu.cshtml")
    </div>
    <div class="swiper-container h100 careers" id="swiper-container1">
        <div class="swiper-wrapper">
            @{
                for (int i = 0; i < ViewBag.banner.Count; i++)
                {
                    <div class="swiper-slide">
                        <div class="pr banner winHeight center"
                             style="background: url(@ViewBag.banner[i].F_ImageUrl) no-repeat center; background-size:cover;">
                            <div class="w1200 m0aoto">
                                <div class="">
                                    <img width="100%" src="@ViewBag.banner[i].F_PicUrl" alt="">
                                </div>
                                <div class="h30"></div>
                                <div class="flex alignitems_center" style="margin-left: -10px;">
                                    <a href="@ViewBag.banner[i].F_ButtonLink1" target="_blank">
                                        <img width="200" src="@ViewBag.banner[i].F_ButtonPic1" alt="">
                                    </a>
                                    @{
                                        if (ViewBag.banner[i].F_ButtonPic2 != "")
                                        {
                                            <a href="@ViewBag.banner[i].F_ButtonLink2" target="_blank">
                                                <img width="200" style="margin-left: 20px;" src="@ViewBag.banner[i].F_ButtonPic2" alt="">
                                            </a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <img class="nexicon pa" src="img/nexicon.png" style="z-index: 3;" alt="">
                    </div>
                }
            }

            <div class="swiper-slide">
                @Html.Raw(ViewBag.Info.F_Content);


            </div>
            <div class="swiper-slide">
                @Html.Raw(ViewBag.Info.F_LiveBroadcast);




            </div>
            <div class="swiper-slide">

                <div class="swiper-container h100" id="Ybox2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            @Html.Raw(ViewBag.Info.F_LiveIntroduction);
                            <div class="footerBox">
                                @Html.Partial("~/Views/Shared/_Bottom.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
       
        var swiper = new Swiper(".mySwiper", {
            speed: 100,
            spaceBetween: 30,
            on: {
                transitionEnd: function () {
                    upgxwz(swiper.activeIndex)
                },
            },
        });

        function upgxwz(inx) {
            $(".inp2nrTab>div").removeClass("c005059 fb")
            $(".inp2nrTab>div:nth-child(" + (inx + 1) + ")").addClass("c005059 fb")
            $(".inp2nrTab>span").css({
                "left": inx * ($(window).innerWidth() < 750 ? 89 : 130) + "px"
            })
        }


        new Vue({
            el: '#app',
            data() {
                return {
                    surname: ""
                };
            },
            methods: {

            }
        })
        $(".inp2nrTab>div").mouseenter(function () {
            swiper.slideTo($(this).index(), 300, false);
            upgxwz($(this).index())
        });


        $(".inp2nrsjd li>div:nth-child(1)").click(function () {
            $(".inp2nrsjd li").removeClass("on")
            $(this).parent().addClass("on")
        })

        function screenFuc() {
            var winWidth = $(window).innerWidth();
            var winHeight = $(window).innerHeight()
            //var winHeight = 500
            $(".winHeight").css({
                "height": winHeight + "px"
            })
        }
        (window.onresize = function () {
            screenFuc();
        })();


        $(function () {

            var mySwiper1 = new Swiper('#swiper-container1', {
                direction: 'vertical',
                //swipeHandler: '.swipe-handler',
                speed: 700,
                on: {
                    transitionStart: function () {
                        if (mySwiper1.activeIndex == 0) {
                            $(".Navigation").removeClass("on")
                        } else {
                            $(".Navigation").addClass("on")
                        }
                    },
                },
            });
            var Ybox2 = new Swiper('#Ybox2', { //子swiper
                direction: 'vertical',
                nested: true,
                //resistanceRatio: 0,
                slidesPerView: 'auto',
                freeMode: true,
                mousewheel: {
                    sensitivity: 0.3,
                },
                scrollbar: {
                    el: '.swiper-scrollbar',
                    draggable: true,
                    snapOnRelease: false,
                },
            })

            var flag = true;
            var height = $(window).innerHeight();
            var tem = 0;
            var isFirefox = (/Firefox/i.test(navigator.userAgent)); //判断是不是火狐浏览器
            var agent = navigator.userAgent.toLowerCase();
            var isMac = /macintosh|mac os x/i.test(navigator.userAgent);
            var flagout
            $(window).on(isFirefox ? 'DOMMouseScroll' : 'mousewheel', function (e) {
                var delta = isFirefox ? e.detail * -1 : e.originalEvent.wheelDelta;

                if (!flag) {
                    return
                }
                clearTimeout(flagout)
                var Ybox = $("#swiper-container1>.swiper-wrapper>.swiper-slide-active>div").attr("id")

                if (delta < 0) {
                    if (Ybox) {
                        if (Ybox.indexOf("Ybox") >= 0) {
                            if (Ybox2.isEnd) {
                                mySwiper1.slideNext();
                                flag = false;
                            }
                        }
                    } else {
                        mySwiper1.slideNext();
                        flag = false;
                    }
                } else {
                    if (Ybox) {
                        if (Ybox.indexOf("Ybox") >= 0) {
                            if (Ybox2.isBeginning) {
                                mySwiper1.slidePrev();
                                flag = false;
                            }
                        }
                    } else {
                        mySwiper1.slidePrev();
                        flag = false;
                    }
                }
                flagout = setTimeout(() => {
                    flag = true
                }, isMac ? 1500 : 500)
            })
        })
    </script>

</body>
</html>
