<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Info.F_SeoTitle</title>
    @Html.Partial("~/Areas/en/Views/Shared/_Head.cshtml")
    <meta name="keyword" content="@ViewBag.Info.F_SeoKeywords" />
    <meta name="Description" content="@ViewBag.Info.F_SeoDescription" />
    <script src="/js/jquery.pagination.js?v=1" type="text/javascript" charset="utf-8"></script>
</head>
<body class="en">
    <div class="NavBox">
        @Html.Partial("~/Areas/en/Views/Shared/_Menu.cshtml")
    </div>
    <div class="swiper-container h100 news" id="swiper-container1">
        <div class="swiper-wrapper">

            <div class="swiper-slide isphone" >
                <div class="pr winHeight">

                    <div class="swiper mySwiper pa whtl0 ovh">
                        <div class="swiper-wrapper">
                            @{
                                for (int i = 0; i < ViewBag.banner.Count; i++)
                                {
                                    <div class="swiper-slide center"
                                         style="background: url(@ViewBag.banner[i].F_ImageUrl) no-repeat center; background-size:cover;">
                                        <div class="pa whtl0 center" style="background: url(/img/bannerfc.png) no-repeat center; background-size: cover;">
                                            <a href="@ViewBag.banner[i].F_LinkUrl" class="w1200 m0aoto cfff f40 center h100" target="_blank">
                                                <div style="width:100%;">@Html.Raw(ViewBag.banner[i].F_Content)</div>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                            @*<div class="swiper-slide center"
                         style="background: url(img/banner6.jpg) no-repeat center; background-size:cover;">
                        <div class="w1200 m0aoto">
                            <img width="50%" src="img/banner6txt.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide center"
                         style="background: url(img/banner6.jpg) no-repeat center; background-size:cover;">
                        <div class="w1200 m0aoto">
                            <img width="50%" src="img/banner6txt.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide center"
                         style="background: url(img/banner6.jpg) no-repeat center; background-size:cover;">
                        <div class="w1200 m0aoto">
                            <img width="50%" src="img/banner6txt.png" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide center"
                         style="background: url(img/banner6.jpg) no-repeat center; background-size:cover;">
                        <div class="w1200 m0aoto">
                            <img width="50%" src="img/banner6txt.png" alt="">
                        </div>
                    </div>*@

                        </div>
                    </div>

                    <div class="pa whtl0 pointernone flex alignitems_center">
                        <div class="w1200 m0aoto cfff h100 pr">
                            <div class="pa w100" style="bottom: 60px; left: 0px; ">
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <img class="nexicon pa" src="/img/nexicon.png" style="z-index: 3;" alt="">

            </div>

            <div class="swiper-slide">
                <div class="swiper-container h100" id="Ybox2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="w1200 m0aoto" style="min-height: 800px;">
                                <div class="h60"></div>
                                <div class="h30"></div>
                                <a href="@ViewBag.banner[0].F_LinkUrl" class="bor6 ovh center pr pca"
                                   style="height: 200px; background: url(@ViewBag.banner[0].F_ImageUrl) no-repeat center; background-size:cover;">
                                    <div class="pa whtl0 center cfff"
                                         style="background: -webkit-linear-gradient(rgb(0 0 0 / 0%), rgb(0 0 0 / 0%), rgb(0 0 0 / 84%));">
                                        <div class="pa f18" style="bottom: 8px; left: 10px; right: 10px;">
                                            @Html.Raw(ViewBag.banner[0].F_Content)
                                        </div>
                                    </div>
                                    </a>
                                    <div class="h30"></div>
                                    <div class="newslist">

                                    </div>
                                    <div class="h60"></div>
                                    <div class="center" id="app">
                                        <div id="pagination" class="Pagination center" style="">

                                        </div>
                                    </div>
                                    <div class="h60"></div>
                                    @*<div class="center">
            <img width="80%" src="@ViewBag.bottomBanner" alt="">
        </div>
        <div class="h60"></div>*@

</div>
                            <div class="" style="background: url(@ViewBag.bottomBanner) no-repeat center; background-size:cover; height: 300px; ">
                                <div class="w1200 m0aoto cfff">
                                    @Html.Raw(ViewBag.bottomContent)
                                    @*<div class="h60"></div>
        <div class="f24 fb">媒体联络</div>
        <div class="h20"></div>
        <div style="line-height: 1.8;">
            深圳市南山区科苑南路3099号中国储能大厦<br>
            电话：0755-86726432<br>
            传真：0755-26661515<br>
            邮箱：info@csrbtx.com
        </div>*@
                                </div>
                            </div>
                            <div class="footerBox">
                                @Html.Partial("~/Areas/en/Views/Shared/_Bottom.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
        </div>
    </div>



  


    <script type="text/javascript">

        var swiper = new Swiper(".mySwiper", {
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });

        function screenFuc() {
            var winWidth = $(window).innerWidth();
            var winHeight = $(window).innerHeight()
            //var winHeight = 500
            $(".winHeight").css({
                "height": winHeight + "px"
            })
        }
        (window.onresize = function () {
            screenFuc();
        })();

        var isPhone = '@ViewBag.IsPhone';
        if (isPhone == 'True') {
            $(".isphone").hide();
        }
        else {
            $(".pca").hide();
        }
        new Vue({
            el: '#app',
            data() {
                return {
                    surname: "",
                    page: 1

                };
            },
            methods: {
                getlist(e) {
                    console.log(e);

                }
            }
        })
        var mySwiper1;
        var Ybox2
        $(function () {

             mySwiper1 = new Swiper('#swiper-container1', {
                direction: 'vertical',
                //swipeHandler: '.swipe-handler',
                speed: 700,
                on: {
                    transitionStart: function () {
                        if (mySwiper1.activeIndex == 0) {
                            $(".Navigation").removeClass("on")
                        } else {
                            $(".Navigation").addClass("on")
                        }
                    },
                },
            });
            Ybox2 = new Swiper('#Ybox2', { //子swiper
                direction: 'vertical',
                nested: true,
                //resistanceRatio: 0,
                slidesPerView: 'auto',
                freeMode: true,
                mousewheel: {
                    sensitivity: 0.3,
                },
                scrollbar: {
                    el: '.swiper-scrollbar',
                    draggable: true,
                    snapOnRelease: false,
                },
            })

            var flag = true;
            var height = $(window).innerHeight();
            var tem = 0;
            var isFirefox = (/Firefox/i.test(navigator.userAgent)); //判断是不是火狐浏览器
            var agent = navigator.userAgent.toLowerCase();
            var isMac = /macintosh|mac os x/i.test(navigator.userAgent);
            var flagout
            $(window).on(isFirefox ? 'DOMMouseScroll' : 'mousewheel', function (e) {
                var delta = isFirefox ? e.detail * -1 : e.originalEvent.wheelDelta;

                if (!flag) {
                    return
                }
                clearTimeout(flagout)

                var flagTimg = 1000
                var Ybox = $("#swiper-container1>.swiper-wrapper>.swiper-slide-active>div").attr("id")

                if (delta < 0) {
                    if (Ybox) {
                        if (Ybox.indexOf("Ybox") >= 0) {
                            if (Ybox2.isEnd) {
                                mySwiper1.slideNext();
                                flag = false;
                            }
                        }
                    } else {
                        mySwiper1.slideNext();
                    }
                } else {
                    if (Ybox) {
                        if (Ybox.indexOf("Ybox") >= 0) {
                            if (Ybox2.isBeginning) {
                                mySwiper1.slidePrev();
                                flag = false;
                            }
                        }
                    } else {
                        mySwiper1.slidePrev();
                        flag = false;
                    }
                }
                flagout = setTimeout(() => {
                    flag = true
                }, isMac ? 1500 : 500)
            })






        })



        function callbackAjax(e) {
            $.ajax({
                type: "Get",
                url: '/en/news_center/GetDataByPage',
                async: false,
                data: { "currentPage": e },
                beforeSend: function (xmlHttpRequest) {
                },
                success: function (data, textStatus) {

                    $(".newslist").html(data);
                    setTimeout(function () {
                        Ybox2.update();
                        Ybox2.setTransition(0);//设定过渡的时间
                        Ybox2.setTranslate(0);//设定位移，可以为正数
                    }, 0)

                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function () {

                }
            });
        }

        callbackAjax(1);

        $('#pagination').pagination({
            totalData: @ViewBag.Count,
            showData: 10,
            coping: true,
            homePage: '',
            endPage: '',
            prevContent: '',
            nextContent: '',
            prevCls: 'el-icon el-icon-arrow-left', //上一页class
            nextCls: 'el-icon el-icon-arrow-right', //下一页class
            callback: function (api) {

                callbackAjax(api.getCurrent())

            }
        });

    </script>
</body>
</html>